<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerHost" value="192.168.100.1"/>
    <add key="ServerUser" value="kineev"/>
    <add key="ServerPassword" value="rootISroot"/>
    <add key="DatabaseHost" value="localhost"/>
    <add key="DatabasePort" value="3306"/>
    <add key="DatabaseUser" value="UTM5"/>
    <add key="DatabasePassword" value="L90KdfJ34"/>
    <add key="DatabaseName" value="UTM5"/>
    <add key="LocalCdrPath" value="C:\cdr\"/>
    <add key="RemoteCdrPath" value="/usr/cdr_for_utm/"/>
    <add key="ZipCdrPath" value="C:\cdr\zip"/>
    <add key="RemoveConvertedCdr" value="0"/>
    <add key="RemoveCallsWithNullDuration" value="0"/>
    <add key="CorrectCdrDuration" value="0"/>    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
